.better-canvas-embed{
    position: relative;
    display: inline-block;

    .node{
        position: absolute;
        display: inline-block;
        z-index: 2;
        overflow: hidden;

        &.text{
            display: flex;
            justify-content: center;
            align-items: center;
            
            color: var(--text-normal);
            border: var(--border-width) solid var(--color-base-70);
            border-radius: var(--radius-m);
            background-color: var(--background-primary-alt);
        
            font-size: 80%;
        
            flex-direction: column;
        }
    }
    
    .line-svg{
        z-index: 1;
    
        position: absolute;
        display: inline-block;
    
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;

        path{
            stroke: var(--color-base-100);
            stroke-width: 0.5;
            fill: none;
        }
    }
}